<?xml version='1.0'?>
<manifest
	xmlns:android='http://schemas.android.com/apk/res/android'
	xmlns:app='http://schemas.android.com/apk/res-auto'
	xmlns:tools='http://schemas.android.com/tools'
	package='com.example.tetris'
	android:versionCode='0'
	android:versionName='0'>
	<uses-feature android:glEsVersion="0x00030000" android:required="true" />
	<uses-sdk
		android:minSdkVersion="15"
		android:targetSdkVersion="30"
	/>
	<application android:label='Tetris' android:hasCode="false">
		<activity android:name='android.app.NativeActivity'
		    android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
        >
			<meta-data android:name="android.app.lib_name" android:value="tetris"/>
			<intent-filter>
				<category android:name='android.intent.category.LAUNCHER'/>
				<action android:name='android.intent.action.MAIN'/>
			</intent-filter>
		</activity>
	</application>
</manifest>
